
{{ $site := .Site }}
{{ $scratch := .Scratch }}

<div class="col-md-6 col-12">    
  <div class="row g-0">
    <div class="col-12 col-sm-4">
      <a href="{{ .Permalink }}"><img src="{{ .Params.image | absURL }}" class="rounded-circle z-depth-2 align-middle" width="100" title="{{ .Title }}" alt="{{ .Title }}" /></a>
    </div>
    <div class="col-12 col-sm-8">
      <div class="card-body episode-card">
        
        <a href="{{ .Permalink }}"><h3 class="card-title">{{ .Title }}</h3></a>

        <p class="card-text">{{ .Content | truncate 300}}</p>
        
        {{ with .Params.tags }}
          <p>{{ partial "tags.html" (dict "taxo" "tags" "value" . "site" $.Site ) }}</p>
        {{ end }}
        <p class="card-text">
          
          {{ with .Params.author }}              
            {{ $name := . }}
            {{ $scratch.Set "person" ($name | urlize) }}
            {{- range where $site.Pages "Type" "host" -}}
              {{- if eq .File.TranslationBaseName ($scratch.Get "person") -}}
                {{- $scratch.Set "host-exist" "true" -}}     
                    <a href="{{ .Permalink | absURL}}"><img src="{{ .Params.image | absURL}}" width="50" class="rounded-circle z-depth-2 person-image" alt="{{ .Title }}" title="{{ .Title }}" /></a>
                {{- $scratch.Set "host-exist" "false" -}}
              {{ end }}
            {{- end -}}
          {{ end }}

          <small class="text-muted">{{ .PublishDate.Format "Mon, Jan 2, 2006" }}</small></p>
      </div>
    </div>
  </div>
</div>