
{{ $site := .Site }}
{{ $scratch := .Scratch }}

<div class="col-md-6 col-12">    
  <div class="row g-0">
    <div class="col-12 col-sm-4">
      <p>
        {{ if eq .Section "talk" }}
          {{ if .Params.externalLink }}
            <a href="{{ .Params.externalLink }}"><img src="{{ .Params.image | absURL }}" class="rounded-circle z-depth-2 align-middle person-image" width="100" title="{{ .Title }}" alt="{{ .Title }}" /></a>
          {{ else }}
            <a href="{{ .Permalink }}"><img src="{{ .Params.image | absURL }}" class="rounded-circle z-depth-2 align-middle person-image" width="100" title="{{ .Title }}" alt="{{ .Title }}" /></a>
          {{ end }}
        {{ else }}       
            {{ if eq .Section "episode" }}
              <a href="{{ .Permalink }}"><img src="{{ .Params.image | absURL }}" class="rounded-circle z-depth-2 align-middle person-image" width="100" title="{{ .Title }}" alt="{{ .Title }}" /></a>
            {{ else if eq .Section "blog" }}
              <a href="{{ .Permalink }}"><img src="{{ .Params.image | absURL }}" class="rounded-circle z-depth-2 align-middle person-image" width="100" title="{{ .Title }}" alt="{{ .Title }}" /></a>
            {{ end }}
        {{ end }}
      </p>
        <p>
          {{ if eq .Section "talk" }}
            <span class="badge bg-warning text-dark d-inline pull-right">{{ .Params.talkType | humanize }}</span>
          {{ else }}
            <span class="badge bg-warning text-dark d-inline pull-right">{{ .Type | humanize }}</span>
          {{ end }}
        </p>
    </div>
    <div class="col-12 col-sm-8">
      <div class="card-body episode-card">
        
        {{ if .Params.externalLink }}
          <a href="{{ .Params.externalLink }}"><h3 class="card-title">{{ .Title }}</h3></a>
        {{ else }}
          <a href="{{ .Permalink }}"><h3 class="card-title">{{ .Title }}</h3></a>
        {{ end }}

        <p class="card-text">{{ .Content | truncate 300}}</p>
        
        {{ with .Params.tags }}
          <p>{{ partial "tags.html" (dict "taxo" "tags" "value" . "site" $.Site ) }}</p>
        {{ end }}
        {{ with .Params.Series }}
          <p>
            <p>{{ partial "series.html" (dict "taxo" "series" "value" . "site" $.Site ) }}</p>
          </p>
        {{ end }}
        <p class="card-text">

        {{ with .Params.author }}              
          {{ $name := . }}
          {{ $scratch.Set "person" ($name | urlize) }}
          {{- range where $site.Pages "Type" "host" -}}
            {{- if eq .File.TranslationBaseName ($scratch.Get "person") -}}
              {{- $scratch.Set "host-exist" "true" -}}     
                  <a href="{{ .Permalink | absURL}}"><img src="{{ .Params.image | absURL}}" width="50" class="rounded-circle z-depth-2 person-image" alt="{{ .Title }}" title="{{ .Title }}" /></a>
              {{- $scratch.Set "host-exist" "false" -}}
            {{ end }}
          {{- end -}}
        {{ end }}
          
        {{ with .Params.hosts }}              
          {{ range $name := . }}
            {{ $scratch.Set "person" ($name | urlize) }}
            {{- range where $site.Pages "Type" "host" -}}
              {{- if eq .File.TranslationBaseName ($scratch.Get "person") -}}
                {{- $scratch.Set "host-exist" "true" -}}     
                    <a href="{{ .Permalink | absURL}}"><img src="{{ .Params.image | absURL}}" width="50" class="rounded-circle z-depth-2 person-image" alt="{{ .Title }}" title="{{ .Title }}" /></a>
                {{- $scratch.Set "host-exist" "false" -}}
              {{ end }}
            {{- end -}}
          {{ end }}
        {{ end }}
    
        {{ with .Params.guests }}              
          {{ range $name := . }}
            {{ $scratch.Set "person" ($name | urlize) }}
            {{- range where $site.Pages "Type" "guest" -}}
              {{- if eq .File.TranslationBaseName ($scratch.Get "person") -}}
                {{- $scratch.Set "guest-exist" "true" -}}     
                    <a href="{{ .Permalink | absURL}}"><img src="{{ .Params.image | absURL}}" width="50" class="rounded-circle z-depth-2 person-image" alt="{{ .Title }}" title="{{ .Title }}" /></a>
                {{- $scratch.Set "guest-exist" "false" -}}
              {{ end }}
            {{- end -}}
          {{ end }}
        {{ end }}

        {{ if eq .Section "talk" }}
          <small class="text-muted">{{ if eq .Params.upcoming true }}Scheduled for {{ else }}Occured on {{ end }}{{ .Date.Format "Mon, Jan 2, 2006" }}</small></p>
        {{ else }}
          <small class="text-muted">{{ if eq .Params.upcoming true }}Scheduled for {{ else }}Published on {{ end }}{{ .PublishDate.Format "Mon, Jan 2, 2006" }}</small></p>
        {{ end }}
      </div>
    </div>
  </div>
</div>