{{ define "main" }}
<div class="container" align="center">
  <div class="row g-2">   
    {{ $paginator := .Paginate (where (where $.Site.RegularPages "Section" "episode") ".Params.upcoming" "==" true).ByDate }}

    {{- partial "paginator.html" . -}}
    
    {{ range $index, $value := $paginator.Pages }}
      {{- partial "cards/episode-card.html" . -}}
      {{ if not (modBool $index 2 )}}  
        <div class="dropdown-divider"></div>
       {{ else }}
        <div class="dropdown-divider d-block d-sm-block d-md-none"></div>
      {{ end }}
    {{ end }}

    {{- partial "paginator.html" . -}}
  </div>
</div>
{{ end }}

{{ define "top" }}
  <div class="container">

    <div class="row">
      {{ range first 12 (where $.Site.RegularPages "Section" "guest").ByTitle }}
        <div class="col-md-2">
          <a href="{{ .Permalink }}"><img src="{{ .Params.image | absURL }}" class="rounded-circle z-depth-2 align-middle" width="125" title="{{ .Title }}" alt="{{ .Title }}" /></a>
        </div>
      {{ end }}
    </div>

    <div class="row text-center">
    <p>Interested in becoming a guest on the show? <a href="https://www.sessionize.com/cloudwithchris/">Sign up!</a></p>
    <p>Have ideas for a new episode topic, or perhaps a new series? <a href="https://www.twitter.com/reddobowen">Tweet me on Twitter!</a></p> 
    </div> 
  </div>
{{ end }}