{{ define "main" }}
  <div class="container">
    <div class="row g-2">
      {{ $upcomingEpisodes:= where (where (where .Site.RegularPages "Type" "in" "episode") ".Params.upcoming" "==" true) ".Params.hosts" "intersect" (slice $.File.BaseFileName) }}
      {{ $pastEpisodes:= where (where (where .Site.RegularPages "Type" "in" "episode") ".Params.upcoming" "!=" true) ".Params.hosts" "intersect" (slice $.File.BaseFileName) }}

      {{ if gt (len $upcomingEpisodes) 0}}
      <h2>Upcoming Episodes</h2>
      {{- range first 4 $upcomingEpisodes.ByDate -}}
        {{- partial "cards/episode-card.html" . -}}
      {{ end }}
    {{ end}}

    <div class="col-12">
      <p>See <a href="/upcoming">all upcoming episodes</a></p>
    </div>

    {{ if gt (len $pastEpisodes) 0}}
      <h2>Past Episodes</h2>
      {{- range $pastEpisodes -}}
        {{- partial "cards/episode-card.html" . -}}
      {{ end }}
    {{ end}}
    </div>
  </div>
{{ end }}

{{ define "top" }}
  <div class="container" align="center">
    <img src="{{ .Params.image | absURL}}" width="150" class="rounded-circle z-depth-2" alt="{{ .Title }}" title="{{ .Title }}" />
    <p>
      {{ with .Params.Github }}
        <a href="https://github.com/{{ . }}" aria-label="GitHub"><button type="button" aria-label="GitHub" class="btn btn-social btn-github btn-rounded"><i class="fab fa-github"></i></button></a>
      {{ end }}
      {{ with .Params.Linkedin }}
        <a href="https://www.linkedin.com/in/{{ . }}" aria-label="LinkedIn"><button aria-label="LinkedIn" type="button" class="btn btn-social btn-linkedin btn-rounded"><i class="fab fa-linkedin"></i></button></a>
      {{ end }}
      {{ with .Params.Twitch }}
        <a href="https://twitch.tv/{{ . }}" aria-label="Twitch"><button type="button" aria-label="Twitch" class="btn btn-social btn-twitch btn-rounded"><i class="fab fa-twitch"></i></button></a>
      {{ end }}
      {{ with .Params.Twitter }}
        <a href="https://twitter.com/{{ . }}" aria-label="Twitter"><button aria-label="Twitter" type="button" class="btn btn-social btn-twitter btn-rounded"><i class="fab fa-twitter"></i></button></a>
      {{ end }}
      {{ with .Params.Website }}
        <a href="{{ . }}" aria-label="Website"><button aria-label="Website" type="button" class="btn btn-social btn-website btn-rounded"><i class="fas fa-link"></i></button></a>
      {{ end }}
      {{ with .Params.YouTube }}
        <a href="https://www.youtube.com/c/{{ . }}"><button type="button" aria-label="YouTube" class="btn btn-social btn-youtube btn-rounded"><i class="fab fa-youtube"></i></button></a>
      {{ end }}
    </p>
    <p>{{ .Content }}</p>
  </div>
{{ end }}