{{ define "main" }}
<div class="container">
  <p>{{ .Content }}</p>
</div>
{{ end }}

{{ define "top" }}
  <div class="py-5 container" align="center">
    <div class="col">
      <div class="row float-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div> 

{{ end }}