<footer class="mt-auto">
  <nav class="navbar">
    <div class="container">
      <ul class="icons nav">
        {{ with .Site.Params.Social.YouTube }}
          <li class="nav-item">            
            <a class="nav-link" href="https://www.youtube.com/c/{{ . }}"><button type="button" aria-label="YouTube" class="btn btn-social btn-youtube btn-rounded"><i class="fab fa-youtube"></i></button></a>
          </li>
        {{ end }}
        {{ with .Site.Params.Social.Twitter }}
          <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/{{ . }}" aria-label="Twitter"><button aria-label="Twitter" type="button" class="btn btn-social btn-twitter btn-rounded"><i class="fab fa-twitter"></i></button></a>
          </li>
        {{ end }}
        {{ with .Site.Params.Social.Facebook }}
          <li class="nav-item">
            
            <a class="nav-link" href="https://facebook.com/{{ . }}" aria-label="Twitter"><button aria-label="Twitter" type="button" class="btn btn-social btn-facebook btn-rounded"><i class="fab fa-facebook"></i></button></a>
          </li>  
        {{ end }}        
        {{ with .Site.Params.Social.GitHub }}
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/{{ . }}" aria-label="GitHub"><button type="button" aria-label="GitHub" class="btn btn-social btn-github btn-rounded"><i class="fab fa-github"></i></button></a>
          </li>
        {{ end }}
      </ul>
      <div class="d-flex justify-content-center copyright-notice text-wrap">
        <p>&copy; {{ .Site.Params.copyright.established | markdownify }} - {{ dateFormat "2006" now }} {{ .Site.Params.copyright.notice | markdownify }}</p>
      </div>
      <div class="d-flex">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link" href="#" id="changePreferences">Cookie Preferences</a></li>
          {{ $currentPage := . }}
            {{ range .Site.Menus.footer }}
              {{ partial "helper/navigation-menu.html" (dict "context" . "currentPage" $currentPage) }}
            {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</footer>
<!-- JavaScript and dependencies -->

  {{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
  {{ $js := slice $bootstrap | resources.Concat "js/bundle.js" | resources.Minify }}

  <script src="{{$js.RelPermalink}}" cookie-consent="strictly-necessary" defer></script>

  
<!-- Cookie Consent by https://www.PrivacyPolicies.com -->
<script type="text/javascript" src="{{ "js/cookie-consent.js" | absURL }}" charset="UTF-8"></script>

<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"interstitial","consent_type":"express","palette":"light","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"Cloud With Chris","open_preferences_center_selector":"#changePreferences","website_privacy_policy_url":"https://www.cloudwithchris.com/privacy-policy"});
});
</script>

{{ if not .Site.IsServer }}
<script type="text/plain" cookie-consent="tracking">
  (function(c,l,a,r,i,t,y){
    c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
    t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
    y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
})(window, document, "clarity", "script", "a32lpsz3a1");
  </script>

<!-- Unnamed script -->
<!-- google analytics -->
{{- $pc := .Site.Config.Privacy.GoogleAnalytics -}}
{{- if not $pc.Disable -}}
  {{ with .Site.GoogleAnalytics }}
    <script type="text/plain" cookie-consent="tracking">
    {{ template "__ga_js_set_doNotTrack" $ }}
    if (!doNotTrack) {
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      {{- if $pc.UseSessionStorage }}
      if (window.sessionStorage) {
        var GA_SESSION_STORAGE_KEY = 'ga:clientId';
        ga('create', '{{ . }}', {
          'storage': 'none',
          'clientId': sessionStorage.getItem(GA_SESSION_STORAGE_KEY)
        });
        ga(function(tracker) {
          sessionStorage.setItem(GA_SESSION_STORAGE_KEY, tracker.get('clientId'));
        });
      }
      {{ else }}
      ga('create', '{{ . }}', 'auto');
      {{ end -}}
      {{ if $pc.AnonymizeIP }}ga('set', 'anonymizeIp', true);{{ end }}
      ga('send', 'pageview');
    }
    </script>
    <script type="text/plain" async src="{{ "js/analytics.js" | absURL }}" cookie-consent="tracking"></script>
    {{ end }}
  {{ end }}
{{- end -}}
<!-- end of Google Analytics-->
<!-- end of Unnamed script-->

<noscript>Cookie Consent by <a href="https://www.PrivacyPolicies.com/cookie-consent/" rel="nofollow noopener">PrivacyPolicies.com</a></noscript>
<!-- End Cookie Consent -->
