<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  {{ partial "seo/meta.html" . }}

  <!-- Bootstrap CSS -->
  {{ $style := resources.Get "sass/main.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">
  <link rel="preload" crossorigin href="/webfonts/fa-solid-900.woff2" as="font">
  <link rel="preload" crossorigin href="/webfonts/fa-brands-400.woff2" as="font">
</head>