{{ $groups := first 1 (where (where $.Site.RegularPages "Section" "episode") ".Params.upcoming" "!=" true) }}
{{ $site := .Site }}
{{ $scratch := .Scratch }}

{{ with $groups }}
  {{ range . }}

    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

    {{ with .Params.hosts }}              
      {{ range $name := . }}
        {{ $scratch.Set "person" ($name | urlize) }}
        {{- range where $site.Pages "Type" "host" -}}
          {{- if eq .File.TranslationBaseName ($scratch.Get "person") -}}
            {{- $scratch.Set "host-exist" "true" -}}     
                <a href="{{ .Permalink | absURL}}"><img src="{{ .Params.image | absURL}}" width="100" class="rounded-circle z-depth-2 person-image" alt="{{ .Title }}" title="{{ .Title }}" /></a>
            {{- $scratch.Set "host-exist" "false" -}}
          {{ end }}
        {{- end -}}
      {{ end }}
    {{ end }}

    {{ with .Params.guests }}              
      {{ range $name := . }}
        {{ $scratch.Set "person" ($name | urlize) }}
        {{- range where $site.Pages "Type" "guest" -}}
          {{- if eq .File.TranslationBaseName ($scratch.Get "person") -}}
            {{- $scratch.Set "guest-exist" "true" -}}     
                <a href="{{ .Permalink | absURL}}"><img src="{{ .Params.image | absURL}}" width="100" class="rounded-circle z-depth-2 person-image" alt="{{ .Title }}" title="{{ .Title }}" /></a>
            {{- $scratch.Set "guest-exist" "false" -}}
          {{ end }}
        {{- end -}}
      {{ end }}
    {{ end }}

    <h2>Published on {{ .PublishDate.Format "Mon, Jan 2, 2006" }}</h2>
    
    {{ with .Params.tags }}
      <p>{{ partial "tags.html" (dict "taxo" "tags" "value" . "site" $site ) }}</p>
    {{ end }}

    {{ if .Params.Youtube }}
    <div class="row youtube embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .Params.YouTube }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="Video of {{ .Title }}" allowfullscreen></iframe>
    </div>
    {{ end }}

    <p>{{ .Content }}</p>

  {{ end }}
{{ end }}