
{{ $site := .Site }}
{{ $scratch := .Scratch }}

<div class="col-12 col-xl-4">    
  <div class="container">
    <div class="row g-0">
      <div class="col-12 col-sm-3 col-md-2 col-xl-4 text-center">
        <a href="{{ .Permalink }}"><img src="{{ .Params.image | absURL }}" class="rounded-circle z-depth-2 align-middle" width="100" title="{{ .Title }}" alt="{{ .Title }}" /></a>
      </div>
      <div class="col-12 col-sm-9 col-md-10 col-xl-8">
        <div class="card-body episode-card">         
          
        
        <a href="{{ .Permalink }}"><h2 class="card-title">{{ .Title }}</h2></a>

        <p class="card-text">{{ .Content | truncate 300}}</p>
        
        {{ with .Params.tags }}
          <p>{{ partial "tags.html" (dict "taxo" "tags" "value" . "site" $.Site ) }}</p>
        {{ end }}
        {{ with .Params.Series }}
          <p>
            <p>{{ partial "series.html" (dict "taxo" "series" "value" . "site" $.Site ) }}</p>
          </p>
        {{ end }}
        <p class="card-text">
          
          {{ with .Params.hosts }}              
          {{ range $name := . }}
            {{ $scratch.Set "person" ($name | urlize) }}
            {{- range where $site.Pages "Type" "host" -}}
              {{- if eq .File.TranslationBaseName ($scratch.Get "person") -}}
                {{- $scratch.Set "host-exist" "true" -}}     
                    <a href="{{ .Permalink | absURL}}"><img src="{{ .Params.image | absURL}}" width="50" class="rounded-circle z-depth-2" alt="{{ .Title }}" title="{{ .Title }}" /></a>
                {{- $scratch.Set "host-exist" "false" -}}
              {{ end }}
            {{- end -}}
          {{ end }}
        {{ end }}
    
        {{ with .Params.guests }}              
          {{ range $name := . }}
            {{ $scratch.Set "person" ($name | urlize) }}
            {{- range where $site.Pages "Type" "guest" -}}
              {{- if eq .File.TranslationBaseName ($scratch.Get "person") -}}
                {{- $scratch.Set "guest-exist" "true" -}}     
                    <a href="{{ .Permalink | absURL}}"><img src="{{ .Params.image | absURL}}" width="50" class="rounded-circle z-depth-2" alt="{{ .Title }}" title="{{ .Title }}" /></a>
                {{- $scratch.Set "guest-exist" "false" -}}
              {{ end }}
            {{- end -}}
          {{ end }}
        {{ end }}</p>

          <p class="card-text"><small class="text-muted">{{ if eq .Params.upcoming true }}Scheduled {{ else }}Published on {{ end }}{{ .PublishDate.Format "Mon, Jan 2, 2006" }}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>