{{ define "main" }}
<div class="container">
  <h5>{{ .Title }} at {{ .Params.eventName }}</h5>
  <p>{{ .Content }}</p>
  {{ with .Params.externalLink }}<p>Find out more at <a href="{{ . }}">{{ . }}</a></p>{{ end }}
</div>
{{ end }}

{{ define "top" }}
{{ $site := .Site }}
{{ $scratch := .Scratch }}

  <section class="py-5 container" align="center">
    <div class="col">
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/talk">Talks</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <p>{{ with .Params.hosts }}              
          {{ range $name := . }}
            {{ $scratch.Set "person" ($name | urlize) }}
            {{- range where $site.Pages "Type" "host" -}}
              {{- if eq .File.TranslationBaseName ($scratch.Get "person") -}}
                {{- $scratch.Set "host-exist" "true" -}}     
                    <a href="{{ .Permalink | absURL}}"><img src="{{ .Params.image | absURL}}" width="100" class="rounded-circle z-depth-2" alt="{{ .Title }}" title="{{ .Title }}" /></a>
                {{- $scratch.Set "host-exist" "false" -}}
              {{ end }}
            {{- end -}}
          {{ end }}
        {{ end }}
    
        {{ with .Params.guests }}              
          {{ range $name := . }}
            {{ $scratch.Set "person" ($name | urlize) }}
            {{- range where $site.Pages "Type" "guest" -}}
              {{- if eq .File.TranslationBaseName ($scratch.Get "person") -}}
                {{- $scratch.Set "guest-exist" "true" -}}     
                    <a href="{{ .Permalink | absURL}}"><img src="{{ .Params.image | absURL}}" width="100" class="rounded-circle z-depth-2" alt="{{ .Title }}" title="{{ .Title }}" /></a>
                {{- $scratch.Set "guest-exist" "false" -}}
              {{ end }}
            {{- end -}}
          {{ end }}
        {{ end }}
        </p>
      </div>

      <div class="row">
        {{ partial "socialshare.html" . }}
      </div>
      
      <div class="row">
        <h2>{{ if eq .Params.upcoming true }}Scheduled for {{ else }}Occured on {{ end }}{{ .Date.Format "Mon, Jan 2, 2006" }}</h2>
      </div>
      
      
      {{ with .Params.tags }}
        <div class="row">
          <p>{{ partial "tags.html" (dict "taxo" "tags" "value" . "site" $.Site ) }}</p>
        </div>
      {{ end }}

      {{ with .Params.talkType }}
      <div class="row">
        <p><span class="badge bg-warning text-dark d-inline pull-right">{{ . | humanize }}</span></p>
      </div>
      {{ end }}
      
      {{- with .Params.youtube -}}
      <div class="row youtube embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/{{ . }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      {{- end -}}
    </div>
  </section>
{{ end }}