<title>{{ .Title | default .Site.Title }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}</title>
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
<meta property="og:title" content="{{ .Title | default .Site.Title }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}" />
<meta name="twitter:title" content="{{ .Title | default .Site.Title }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}" />
<meta itemprop="name" content="{{ .Title | default .Site.Title }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}" />
<meta name="application-name" content="{{ .Title | default .Site.Title }}{{ if not .IsHome }} | {{ .Site.Title }}{{ end }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-gGfpY7dnPWk8HlkvDWrera71KsSc8ykZzjfrSK5v0Uc=' 'sha256-h6mPt+zTGV05j1t+taNKqUJ7mJwkdlQodKeB8515jDk=' 'sha256-405OKKOPsTDkYfHPxU7K8FdsW9hddFr+bP1nUeMlKOY=' 'sha256-uIsijWsN0t6gAHj+NFdaZFGFvFHjycBuRTq0J4MJNqc=' 'sha256-uIsijWsN0t6gAHj+NFdaZFGFvFHjycBuRTq0J4MJNqc=' https://*.clarity.ms google-analytics.com https://ssl.google-analytics.com www.google-analytics.com https://giscus.app; img-src 'self' https://*.clarity.ms www.google-analytics.com https://www.google.com/ads/ga-audiences https://stats.g.doubleclick.net/r/collect; connect-src 'self' www.google-analytics.com https://ampcid.google.com https://stats.g.doubleclick.net/j/collect https://*.clarity.ms; frame-src https://*.youtube.com https://giscus.app; child-src none; object-src none">

{{ if not .Params.Description }}
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta itemprop="description" content="{{ .Site.Params.description }}" />
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta name="twitter:description" content="{{ .Site.Params.description }}" />
{{ else }}
<meta name="description" content="{{ .Params.description }}" />
<meta itemprop="description" content="{{ .Params.description }}" />
<meta property="og:description" content="{{ .Params.description }}" />
<meta name="twitter:description" content="{{ .Params.description }}" />
{{ end }}

<base href="{{ .Permalink }}">
<meta name="url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" /> 
<meta property="og:url" content="{{ .Permalink }}" />

<meta property="og:locale" content="{{ .Language.Lang }}">
<meta name="language" content="{{ .Site.Params.language_name }}">
{{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
{{ end }}

{{ with .Params.image }} 
  <meta itemprop="image" content="{{ . | absURL }}" />
  <meta property="og:image" content="{{ . | absURL }}" /> 
  <meta name="twitter:image" content="{{ . | absURL }}" />
  <meta name="twitter:image:src" content="{{ . | absURL }}" /> 
{{ else }}
  <meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
  <meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
  <meta name="twitter:image" content="{{ .Site.Params.ogimage | absURL }}" />
  <meta name="twitter:image:src" content="{{ .Site.Params.ogimage | absURL }}" /> 
{{ end }}

<meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ "sitemap.xml" | absURL}}" /> 

{{ with .OutputFormats.Get "RSS" }}
  <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
  <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
{{ end }}

<!-- To make sure this renders only in the article page, we check the section -->
{{ if eq .Section "blog" }} 

  <!-- Pagination meta tags for list pages only -->
  {{ $paginator := .Paginate (where (where .Pages "Section" "blog") ".Params.upcoming" "!=" true) }}
  {{ if $paginator }}
    <link rel="first" href="{{ $paginator.First.URL }}">
    <link rel="last" href="{{ $paginator.Last.URL }}">
    {{ if $paginator.HasPrev }}
      <link rel="prev" href="{{ $paginator.Prev.URL }}">
    {{ end }}
    {{ if $paginator.HasNext }}
      <link rel="next" href="{{ $paginator.Next.URL }}">
    {{ end }}

    {{ if eq $paginator.PageNumber 1 }}
      <link rel="canonical" href="{{ .Permalink }}" />
    {{ else }}
      <link rel="canonical" href="{{ .Permalink }}page/{{ $paginator.PageNumber }}/" />
    {{ end }}
    
  {{ else }}
    <link rel="canonical" href="{{ .Permalink }}" />
  {{ end }}

  <meta property="og:type" content="article" />
  <meta property="article:publisher" content="{{ .Site.Params.facebook }}" /> 
  <meta property="og:article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} /> 
  <meta property="article:published_time" content={{ .Date.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
  
  <meta property="og:article:author" content="{{humanize .Site.Params.author }}" />
  <meta property="article:author" content="{{humanize .Site.Params.author }}" /> 
  <meta name="author" content="{{humanize .Site.Params.author }}" /> 
  
  {{ with .Params.category }} 
    <meta name="news_keywords" content="{{ index . 0 }}" />
    <meta property="article:section" content="{{ index . 0 }}" /> 
  {{ end }}

{{ else if eq .Section "episode" }} 
  {{ $paginator := .Paginate (where (where .Pages "Section" "episode") ".Params.upcoming" "!=" true) }}
  {{ if $paginator }}
    <link rel="first" href="{{ $paginator.First.URL }}">
    <link rel="last" href="{{ $paginator.Last.URL }}">
    {{ if $paginator.HasPrev }}
      <link rel="prev" href="{{ $paginator.Prev.URL }}">
    {{ end }}
    {{ if $paginator.HasNext }}
      <link rel="next" href="{{ $paginator.Next.URL }}">
    {{ end }}

    {{ if eq $paginator.PageNumber 1 }}
      <link rel="canonical" href="{{ .Permalink }}" />
    {{ else }}
      <link rel="canonical" href="{{ .Permalink }}page/{{ $paginator.PageNumber }}/" />
    {{ end }}
    
  {{ else }}
    <link rel="canonical" href="{{ .Permalink }}" />
  {{ end }}
{{ else if eq .Section "guest" }} 
  {{ $paginator := .Paginate (where .Pages "Section" "guest").ByTitle }}
  {{ if $paginator }}
    <link rel="first" href="{{ $paginator.First.URL }}">
    <link rel="last" href="{{ $paginator.Last.URL }}">
    {{ if $paginator.HasPrev }}
      <link rel="prev" href="{{ $paginator.Prev.URL }}">
    {{ end }}
    {{ if $paginator.HasNext }}
      <link rel="next" href="{{ $paginator.Next.URL }}">
    {{ end }}

    {{ if eq $paginator.PageNumber 1 }}
      <link rel="canonical" href="{{ .Permalink }}" />
    {{ else }}
      <link rel="canonical" href="{{ .Permalink }}page/{{ $paginator.PageNumber }}/" />
    {{ end }}
    
  {{ else }}
    <link rel="canonical" href="{{ .Permalink }}" />
  {{ end }}
{{ else if eq .Section "talk" }} 
  {{ $paginator := .Paginate (where (where .Pages "Section" "talk") ".Params.upcoming" "!=" true) }}
  {{ if $paginator }}
    <link rel="first" href="{{ $paginator.First.URL }}">
    <link rel="last" href="{{ $paginator.Last.URL }}">
    {{ if $paginator.HasPrev }}
      <link rel="prev" href="{{ $paginator.Prev.URL }}">
    {{ end }}
    {{ if $paginator.HasNext }}
      <link rel="next" href="{{ $paginator.Next.URL }}">
    {{ end }}

    {{ if eq $paginator.PageNumber 1 }}
      <link rel="canonical" href="{{ .Permalink }}" />
    {{ else }}
      <link rel="canonical" href="{{ .Permalink }}page/{{ $paginator.PageNumber }}/" />
    {{ end }}
    
  {{ else }}
    <link rel="canonical" href="{{ .Permalink }}" />
  {{ end }}
{{ else if eq .Section "series" }} 
  {{ $paginator := .Paginate (where .Data.Pages ".Params.upcoming" "!=" true) }}
  {{ if $paginator }}
    <link rel="first" href="{{ $paginator.First.URL }}">
    <link rel="last" href="{{ $paginator.Last.URL }}">
    {{ if $paginator.HasPrev }}
      <link rel="prev" href="{{ $paginator.Prev.URL }}">
    {{ end }}
    {{ if $paginator.HasNext }}
      <link rel="next" href="{{ $paginator.Next.URL }}">
    {{ end }}

    {{ if eq $paginator.PageNumber 1 }}
      <link rel="canonical" href="{{ .Permalink }}" />
    {{ else }}
      <link rel="canonical" href="{{ .Permalink }}page/{{ $paginator.PageNumber }}/" />
    {{ end }}
    
  {{ else }}
    <link rel="canonical" href="{{ .Permalink }}" />
  {{ end }}
{{ else if eq .Section "tags" }} 
  {{ $paginator := .Paginate (where .Data.Pages ".Params.upcoming" "!=" true) }}
  {{ if $paginator }}
    <link rel="first" href="{{ $paginator.First.URL }}">
    <link rel="last" href="{{ $paginator.Last.URL }}">
    {{ if $paginator.HasPrev }}
      <link rel="prev" href="{{ $paginator.Prev.URL }}">
    {{ end }}
    {{ if $paginator.HasNext }}
      <link rel="next" href="{{ $paginator.Next.URL }}">
    {{ end }}

    {{ if eq $paginator.PageNumber 1 }}
      <link rel="canonical" href="{{ .Permalink }}" />
    {{ else }}
      <link rel="canonical" href="{{ .Permalink }}page/{{ $paginator.PageNumber }}/" />
    {{ end }}
    
  {{ else }}
    <link rel="canonical" href="{{ .Permalink }}" />
  {{ end }}
{{ else }}
  <link rel="canonical" href="{{ .Permalink }}" />
{{ end }}

{{ if (and (eq .Type "guest") (eq .IsPage true)) }}

{{ $scratch := .Scratch }}

  {{ with .Params.Website }}
    {{ $scratch.Add "sameAs" (slice .) }}
  {{ end }}
  {{ with .Params.GitHub }}
    {{ $scratch.Add "sameAs" (slice (printf "%s%s" "https://github.com/" . )) }}
  {{ end }}
  {{ with .Params.Twitter }}
    {{ $scratch.Add "sameAs" (slice (printf "%s%s" "https://twitter.com/" . )) }}
  {{ end }}
  {{ with .Params.LinkedIn }}
    {{ $scratch.Add "sameAs" (slice (printf "%s%s" "https://linkedin.com/in/" . )) }}
  {{ end }}
  {{ with .Params.YouTube }}
    {{ $scratch.Add "sameAs" (slice (printf "%s%s" "https://youtube.com/" . )) }}
  {{ end }}
  {{ with .Params.Twitch }}
    {{ $scratch.Add "sameAs" (slice (printf "%s%s" "https://twitch.tv/" . )) }}
  {{ end }}

  <script defer type="application/ld+json">
    { 
      "@context": "http://schema.org", 
      "@type": "Person",
      "name": "{{ .Params.Title }}",
      "image": {{ .Params.image | absURL | htmlUnescape |  safeHTML }},
      "url": {{ .Permalink  | htmlUnescape |  safeHTML }},
      "sameAs": {{ .Scratch.Get "sameAs" }}
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "{{ .Site.Title }}",
        "item": {{ .Site.BaseURL}}
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Guests",
        "item": {{ printf "%s%s" .Site.BaseURL "/guest/" | absURL | htmlUnescape |  safeHTML }}
      },{
        "@type": "ListItem",
        "position": 3,
        "name": {{ .Title }}
      }]
    }
    </script>
  {{ else if (and (eq .Type "episode") (eq .IsPage true)) }}
  <script defer type="application/ld+json">
    { 
      "@context": "http://schema.org", 
      "@type": "PodcastEpisode",
      "name": "{{ .Params.Title }}",
      "image": {{ .Params.image | absURL | htmlUnescape |  safeHTML }},
      "url": {{ .Permalink  }},
      "description": "{{ .Params.Description }}",
      "associatedMedia": {
        "@type": "MediaObject",
        "contentUrl": {{ printf "%s%s" .Site.Params.media_prefix .Params.podcast_file | absURL | htmlUnescape |  safeHTML }}
      },
      {{ if .Params.Series }}
      "partOfSeries": {
        "@type": "PodcastSeries",
        "name": "{{ index (.Params.Series) 0 }}",
        "url":  {{ printf "%s%s%s" .Site.BaseURL "series/" (urlize (index (.Params.Series) 0)) | absURL | htmlUnescape |  safeHTML }}
      },
      {{ end }}
      "video": {
        "@type": "VideoObject",
        "contentUrl": {{ printf "%s%s" "https://youtu.be/" .Params.Youtube | htmlUnescape |  safeHTML }},
        "uploadDate": "{{ .PublishDate.Format "2006-01-02" }}",
        "description": "{{ .Params.Description }}",
        "name": "{{ .Title }}",
        "thumbnailUrl": {{ .Params.image | absURL | htmlUnescape |  safeHTML }}
      }
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "{{ .Site.Title }}",
        "item": {{ .Site.BaseURL}}
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Episodes",
        "item": {{ printf "%s%s" .Site.BaseURL "/episode/" | absURL | htmlUnescape |  safeHTML }}
      },{
        "@type": "ListItem",
        "position": 3,
        "name": {{ .Title }}
      }]
    }
    </script>
  {{ else if (and (eq .Type "blog") (eq .IsPage true)) }}
  <script defer type="application/ld+json">
    { 
      "@context": "http://schema.org", 
      "@type": "BlogPosting",
      "name": "{{ .Params.Title }}",
      "mainEntityOfPage": "True",
      "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
      "headline": {{ .Title }},
      "author": {
        "@type": "Person",
        "name": {{ .Params.Author | humanize }}
      },    
      "datePublished": "{{ .Date.Format "2006-01-02" }}",
      "description": {{ .Description }},
      "wordCount": {{ .WordCount }},
      "image": {{ .Params.image | absURL | htmlUnescape |  safeHTML }},
      "url": {{ .Permalink  }},
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "imageObject",
          "url": {{ "/favicon.ico" | absURL }}
        }
      },    
      {{ with .Params.Tags }}
        "keywords": {{ delimit . ", " }}
      {{ end }}
    }
  </script>
  
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "{{ .Site.Title }}",
        "item": {{ .Site.BaseURL}}
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Blogs",
        "item": {{ printf "%s%s" .Site.BaseURL "/blog/" | absURL | htmlUnescape |  safeHTML }}
      },{
        "@type": "ListItem",
        "position": 3,
        "name": {{ .Title }}
      }]
    }
    </script>
  {{ else if (and (eq .Type "talk") (eq .IsPage true)) }}
  <script defer type="application/ld+json">
    { 
      "@context": "http://schema.org", 
      "@type": "Event",
      "name": "{{ .Title }}",
      "description": "{{ .Params.Description }}",
      "eventAttendanceMode": "https://schema.org/MixedEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "performer": {      
        "@type": "Person",
        "image": "https://www.cloudwithchris.com/img/hosts/chrisreddington.jpg",
        "name": "Chris Reddington",
        "url": "https://www.cloudwithchris.com"
      },
      "organizer": {
        "@type": "Organization",
        "name": "{{ .Params.eventName }}"
      },
      "image": "https://www.cloudwithchris.com/img/cloudwithchrislogo.png",
      "location": {
        "@type": "VirtualLocation",
        "url": "{{ .Permalink }}"
      },
      "url": {{ .Permalink  }},
      {{ with .Params.externalLink }}
      "sameAs": [
        {{ . | htmlUnescape |  safeHTML  }}
      ],
      {{ end }}
      "startDate": "{{ .Date.Format "2006-01-02" }}",
      "endDate": "{{ .Date.Format "2006-01-02" }}",
      {{ with .Params.Tags }}
        "keywords": {{ delimit . ", " }}
      {{ end }}
    }
  </script>
  
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "{{ .Site.Title }}",
        "item": {{ .Site.BaseURL}}
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Talks",
        "item": {{ printf "%s%s" .Site.BaseURL "/talk/" | absURL | htmlUnescape |  safeHTML }}
      },{
        "@type": "ListItem",
        "position": 3,
        "name": {{ .Title }}
      }]
    }
    </script>
  {{ end }}
  
  <script defer type="application/ld+json">
    { 
      "@context": "http://schema.org", 
      "@type": "WebSite", 
      "url": {{ .Permalink }}, 
      "sameAs": [
        {{ printf "%s%s" "https://twitter.com/" .Site.Params.social.twitter | htmlUnescape |  safeHTML }}, 
        {{ printf "%s%s" "https://github.com/" .Site.Params.social.github | htmlUnescape |  safeHTML }}
      ], 
      "name": "{{ .Title }}", 
      "logo": {{ "/favicon.ico" | absURL }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ printf "%s%s" .Site.BaseURL "/search?s={search_term_string}" | htmlUnescape |  safeHTML }},
        "query-input": "required name=search_term_string"
      }
    }
  </script>
  
  
  
  <meta property="og:type" content="website" /> 
  <meta name="robots" content="index,follow" /> 
  <meta name="googlebot" content="index,follow" />
  
  <meta name="twitter:site" content="@{{ .Site.Params.social.twitter }}">
  <meta name="twitter:creator" content="@{{ .Site.Params.social.twitter }}" />
  
  {{ with.Site.Params.facebook }}
    {{ with .app_id }}
      <meta property="fb:app_id" content="{{ . }}" />
    {{ end }}
    {{ with .admins }}
      <meta property="fb:admins" content="{{ . }}" />
    {{ end }}
  {{ end }}
  
  <!-- Theme Color -->
  <meta name="theme-color" content="#29aae1" /> 
  <meta name="msapplication-TileColor" content="#29aae1" />
  
  {{ if .Params.Tags }}  
    <meta name="keywords" content="{{ print (delimit .Params.Tags ", ") ", " (delimit .Site.Params.Keywords ", ") }}" />
  {{ else }}
    <meta name="keywords" content="{{ print (delimit .Site.Params.Keywords ", ") }}" />
  {{ end }}
  
  <meta name="imagemode" content="force" />
  <meta name="coverage" content="Worldwide" /> 
  <meta name="distribution" content="Global" />
  <meta name="HandheldFriendly" content="True" /> 
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}" /> 
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-touch-fullscreen" content="yes" />
  
  <link rel="icon" type="image/png" href="/favicon-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-96.png" sizes="96x96">
  
    
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicon-152.png">
  <link rel="apple-touch-icon-precomposed" sizes="167x167" href="/favicon-167.png">
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/favicon-180.png">