{{ define "top" }}
  <div class="py-5 container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Episodes</li>
      </ol>
    </nav>
    {{- partial "random-speakers-header.html" . -}}    

    <div class="row text-center">
    <p>Interested in becoming a guest on the show? <a href="https://www.sessionize.com/cloudwithchris/">Sign up!</a></p>
    <p>Have ideas for a new episode topic, or perhaps a new series? <a href="https://www.twitter.com/reddobowen">Tweet me on Twitter!</a></p> 
    </div> 
  </div>
{{ end }}

{{ define "main" }}
<div class="container" align="center">
  <div class="row g-2">   
    {{ $paginator := .Paginate (where (where $.Site.RegularPages "Section" "episode") ".Params.upcoming" "!=" true) }}

    {{- partial "paginator.html" . -}}
    
    {{ range $index, $value := $paginator.Pages }}
      {{- partial "cards/episode-card.html" . -}}
      {{ if not (modBool $index 2 )}}  
        <div class="dropdown-divider"></div>
       {{ else }}
        <div class="dropdown-divider d-block d-sm-block d-md-none"></div>
      {{ end }}
    {{ end }}

    {{- partial "paginator.html" . -}}
  </div>
</div>
{{ end }}

{{ define "bottom" }}
<section class="py-5 container">
  <div class="row float-center">
    <h2 align="center">Coming Up...</h2>
    {{ range first 3 (where (where $.Site.RegularPages "Section" "episode") ".Params.upcoming" true).ByDate }}         
      {{- partial "upcoming-episode.html" . -}}
    {{ end }}
  </div>  
</section>
{{ end }}