{{ define "main" }}
<div class="container">
  <p>{{ .Content }}</p>

  <div class="dropdown-divider"></div>


  {{ if eq .Site.Params.audio_player "podscribe" }}
    {{ with .Params.podcast_file }}
      <div id="podscribe-embed-root"></div>
      <script type="application/json" data-cwc-selector="episode-data">
        {
          "epGuid": "https://podcasts.cloudwithchris.com/{{ . }}",
        }
        </script>
        <script src="{{ "js/podscribe.js" | absURL }}" cookie-consent="strictly-necessary"></script>
      
      <script cookie-consent="tracking" src="{{ "js/embed.js" | absURL }}"></script>
    {{ end }}
  {{ else }}
    {{ with .Params.podcast_file }}
      <div align="center">
        <audio
            controls
            src="https://podcasts.cloudwithchris.com/{{ . }}">
                Your browser does not support the
                <code>audio</code> element.
                Here is a <a href="https://podcasts.cloudwithchris.com/{{ . }}">link to download the audio</a> instead.
        </audio>
      </div>
    {{ end }}
  {{ end }}
  
</div>
{{ end }}

{{ define "top" }}
{{ $site := .Site }}
{{ $scratch := .Scratch }}
{{ $title := .Title }}
  <section class="py-5 container" align="center">
    <div class="col">
      <div class="row">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/episode">Episodes</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>

        <p>{{ with .Params.hosts }}              
          {{ range $name := . }}
            {{ $scratch.Set "person" ($name | urlize) }}
            {{- range where $site.Pages "Type" "host" -}}
              {{- if eq .File.TranslationBaseName ($scratch.Get "person") -}}
                {{- $scratch.Set "host-exist" "true" -}}     
                    <a href="{{ .Permalink | absURL}}"><img src="{{ .Params.image | absURL}}" width="100" class="rounded-circle z-depth-2" alt="{{ .Title }}" title="{{ .Title }}" /></a>
                {{- $scratch.Set "host-exist" "false" -}}
              {{ end }}
            {{- end -}}
          {{ end }}
        {{ end }}
    
        {{ with .Params.guests }}              
          {{ range $name := . }}
            {{ $scratch.Set "person" ($name | urlize) }}
            {{- range where $site.Pages "Type" "guest" -}}
              {{- if eq .File.TranslationBaseName ($scratch.Get "person") -}}
                {{- $scratch.Set "guest-exist" "true" -}}     
                    <a href="{{ .Permalink | absURL}}"><img src="{{ .Params.image | absURL}}" width="100" class="rounded-circle z-depth-2" alt="{{ .Title }}" title="{{ .Title }}" /></a>
                {{- $scratch.Set "guest-exist" "false" -}}
              {{ end }}
            {{- end -}}
          {{ end }}
        {{ end }}
        </p>
      </div>
      <div class="row" class="text-center">
        {{ partial "socialshare.html" . }}
      </div>
      
      <div class="row">
        <h2>{{ if eq .Params.upcoming true }}Scheduled for {{ else }}Published on {{ end }}{{ .PublishDate.Format "Mon, Jan 2, 2006" }}</h2>
      </div>
      
      
      {{ with .Params.tags }}
        <div class="row">
          <p>{{ partial "tags.html" (dict "taxo" "tags" "value" . "site" $.Site ) }}</p>
        </div>
      {{ end }}
      
      {{- with .Params.youtube -}}
      <div class="row youtube embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ . }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen title="{{ $title }}"></iframe>
      </div>
      {{- end -}}
    </div>
  </section>
{{ end }}

{{ define "bottom" }}
{{ $site := .Site }}
{{ $page := .Page }}
{{ $scratch := .Scratch }}

<div class="py-5 container" align="center">
    <div class="col">
      <div class="row">
        <script src="https://giscus.app/client.js"
        data-repo="{{ .Site.Params.giscus.repository }}"
        data-repo-id="{{ .Site.Params.giscus.repository_id }}"
        data-category="{{ .Site.Params.giscus.category }}"
        data-category-id="{{ .Site.Params.giscus.category_id }}"
        data-mapping="{{ .Site.Params.giscus.mapping }}"
        data-reactions-enabled="{{ .Site.Params.giscus.reactions_enabled }}"
        data-emit-metadata="{{ .Site.Params.giscus.emit_metadata }}"
        data-theme="{{ .Site.Params.giscus.theme }}"
        crossorigin="anonymous"
        async
        cookie-consent="functionality">
        </script>
      </div>
      <div class="row float-center">
        {{ $related := .Site.RegularPages.Related . | first 4 }}
          {{ with $related }}
          <h3>Related</h3>
          <p></p>
          {{ range . }}
            {{- partial "cards/footer-generic-card.html" . -}}
          {{ end }}
        {{ end }}      
    </div>
  </div>
{{ end }}