.row {
    display: flex;
  }
  @media screen and (min-width: 500px) {
    .column {
      flex: 50%;
      padding: 5px;
    }
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }