{{ define "main" }}
<div class="container" align="center">
  <div class="row g-2">      
    
  {{- partial "cards/series-card.html" . -}}    

    {{- partial "paginator.html" . -}}
  </div>
</div>
{{ end }}

{{ define "top" }}
  
<section class="py-5 container" align="center">
  <div class="col">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
        </ol>
      </nav>
    </div>
  </div>
</section>
{{ end }}