{{ define "top" }}
  <div class="py-5 container">
    <div class="col">
      <div class="row">        
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Guests</li>
          </ol>
        </nav>
      </div>
      <div class="row">    
        {{- partial "random-speakers-header.html" . -}}    
      </div>

      <div class="row text-center">
        <p>Interested in becoming a guest on the show? <a href="https://www.sessionize.com/cloudwithchris/">Sign up!</a></p>
        <p>Have ideas for a new episode topic, or perhaps a new series? <a href="https://www.twitter.com/reddobowen">Tweet me on Twitter!</a></p> 
      </div> 
    </div>
  </div>
{{ end }}

{{ define "main" }}
<div class="container" align="center">
  <div class="row g-2">   
    {{ $paginator := .Paginate (where $.Site.RegularPages "Section" "guest").ByTitle }}

    {{- partial "paginator.html" . -}}
    
    {{ range $paginator.Pages }}
      {{- partial "cards/guest-card.html" . -}}
    {{ end }}

    {{- partial "paginator.html" . -}}
  </div>
</div>
{{ end }}