{{ define "top" }}
<div class="py-5 container">
  <div class="row float-center">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Blog</li>
      </ol>
    </nav>

    <div class="row float-center">
      {{ $upcomingTalks := first 3 (shuffle (where $.Site.RegularPages "Section" "blog")) }}
      {{ $count := len $upcomingTalks }}
      {{ range $upcomingTalks }}   
        {{- partial "random-blog.html" (dict "count" $count "value" . "site" $.Site ) -}}
      {{ end }}
    </div>  

    
    <div class="row text-center">
      <p>Working through a challenge, and can't quite solve it? Think it could make a good blog post idea? I'd love to hear! Make a suggestion over on the <a href="https://github.com/CloudWithChris/cloudwithchris.com/issues/new?assignees=chrisreddington&labels=Blog&template=blog.yml&title=%5BBlog%5D+Enter+your+title">cloudwithchris.com GitHub repository</a></p> 
      </div> 
  </div>
</div>
{{ end }}

{{ define "main" }}
<div class="container" align="center">
  <div class="container">
    <div class="row g-2">   
      {{ $paginator := .Paginate (after 1 (where (where $.Site.RegularPages "Section" "blog") ".Params.upcoming" "!=" true)) }}

      {{- partial "paginator.html" . -}}
      
      {{ range $index, $value := $paginator.Pages }}
        {{- partial "cards/blog-card.html" . -}}
        {{ if not (modBool $index 2 )}}  
          <div class="dropdown-divider"></div>
         {{ else }}
          <div class="dropdown-divider d-block d-sm-block d-md-none"></div>
        {{ end }}
      {{ end }}

      {{- partial "paginator.html" . -}}
    </div>
  </div>
</div>
{{ end }}