{{ define "top" }}
{{ $site := .Site }}
{{ $page := .Page }}
{{ $scratch := .Scratch }}

<div class="py-5 container" align="center">
    <div class="col">
      <div class="row float-center">
        
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
          </ol>
        </nav>

        {{ with .Params.author }}              
          {{ $name := . }}
          {{ $scratch.Set "person" ($name | urlize) }}
          {{- range where $site.Pages "Type" "host" -}}
            {{- if eq .File.TranslationBaseName ($scratch.Get "person") -}}
              {{- $scratch.Set "host-exist" "true" -}}     
                  <a href="{{ .Permalink | absURL}}"><img src="{{ .Params.image | absURL}}" width="100" class="rounded-circle z-depth-2" alt="{{ .Title }}" title="{{ .Title }}" /></a>
              {{- $scratch.Set "host-exist" "false" -}}
            {{ end }}
          {{- end -}}
        {{ end }}
        </p>
      </div>

      <div class="row">
        {{ partial "socialshare.html" . }}
      </div>
      
      <div class="row d-flex align-items-center justify-content-center">
        <h2>Published on {{ .PublishDate.Format "Mon, Jan 2, 2006" }}</h2>
      </div>
      
      
      {{ with .Params.tags }}
        <p>{{ partial "tags.html" (dict "taxo" "tags" "value" . "site" $.Site ) }}</p>
      {{ end }}

      <p></p>
      {{ with .Params.Series }}
        <p>
          <p>{{ partial "series.html" (dict "taxo" "series" "value" . "site" $.Site ) }}</p>
        </p>
      {{ end }}
      <ul class="list-group">
      {{ $series := .Params.Series }}
      {{ range where .Site.Pages ".Params.series" "intersect" $series }}
        {{ if eq . $page }}
          <li class="list-group-item active" aria-current="true">{{ .Title }}</li>
        {{ else  }}
          <li class="list-group-item"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        
      {{ end }}
    </ul>
      
    </div>
  </div>
{{ end }}

{{ define "main" }}
{{ $site := .Site }}
{{ $page := .Page }}
{{ $scratch := .Scratch }}

<div class="container">

  {{ if ge (len .TableOfContents) 50 }}

  <h2>Contents</h2>
  <p>
    {{ .TableOfContents }}
  </p>
  {{ end }}

  <p>{{ .Content }}</p>
  <p></p>
  <ul class="list-group">
    {{ $series := .Params.Series }}
    {{ range where .Site.Pages ".Params.series" "intersect" $series }}
      {{ if eq . $page }}
        <li class="list-group-item active" aria-current="true">{{ .Title }}</li>
      {{ else  }}
        <li class="list-group-item"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
</div>
{{ if isset .Params "series" }}<p></p>{{ end }}
{{ end }}

{{ define "bottom" }}
{{ $site := .Site }}
{{ $page := .Page }}
{{ $scratch := .Scratch }}

<div class="py-5 container" align="center">
    <div class="col">
      <div class="row">
        <script src="https://giscus.app/client.js"
        data-repo="{{ .Site.Params.giscus.repository }}"
        data-repo-id="{{ .Site.Params.giscus.repository_id }}"
        data-category="{{ .Site.Params.giscus.category }}"
        data-category-id="{{ .Site.Params.giscus.category_id }}"
        data-mapping="{{ .Site.Params.giscus.mapping }}"
        data-reactions-enabled="{{ .Site.Params.giscus.reactions_enabled }}"
        data-emit-metadata="{{ .Site.Params.giscus.emit_metadata }}"
        data-theme="{{ .Site.Params.giscus.theme }}"
        crossorigin="anonymous"
        async
        cookie-consent="functionality">
        </script>
      </div>
      <div class="row float-center">
        {{ $related := .Site.RegularPages.Related . | first 4 }}
          {{ with $related }}
          <h3>Related</h3>
          <p></p>
          {{ range . }}
            {{- partial "cards/footer-generic-card.html" . -}}
          {{ end }}
        {{ end }}      
    </div>
  </div>
{{ end }}