name: Staging (Dev)
on: 
  push:
      branches:
        - dev
jobs:
  # lint:
  #   # Name the Job
  #   name: Lint Code Base
  #   # Set the agent to run on
  #   runs-on: ubuntu-latest

  #   ##################
  #   # Load all steps #
  #   ##################
  #   steps:
  #     ##########################
  #     # Checkout the code base #
  #     ##########################
  #     - name: Checkout Code
  #       uses: actions/checkout@v2
  #       with:
  #         # Full git history is needed to get a proper list of changed files within `super-linter`
  #         fetch-depth: 0

  #     ################################
  #     # Run Linter against code base #
  #     ################################
  #     - name: Lint Code Base
  #       uses: github/super-linter@v3
  #       env:
  #         FILTER_REGEX_INCLUDE: .*content/.*
  #         DEFAULT_BRANCH: master
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  build:
    #needs: lint
    runs-on: ubuntu-latest
    steps:            
    - uses: actions/checkout@v2
    - name: Checkout submodules
      shell: bash
      run: |
        auth_header="$(git config --local --get http.https://github.com/.extraheader)"
        git submodule sync --recursive
        git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=  
    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.62.2'
        # extended: true
    - name: Replace tokens
      uses: cschleiden/replace-tokens@v1.0
      with:
        tokenPrefix: '#{' # optional, default is #{
        tokenSuffix: '}#' # optional, default is }#
        files: '["config.toml"]'
      env:
        hostname: 'https://staging.cloudwithchris.com/'
    - name: Build
      run: hugo --minify    
    - name: Upload website as Artifact
      uses: actions/upload-artifact@v1
      with:
        name: website
        path: /home/runner/work/cloudwithchris.com/cloudwithchris.com/public
  # publish-azure:    
  #   runs-on: ubuntu-latest
  #   needs: build
  #   steps:    
  #   - name: Download website changes
  #     uses: actions/download-artifact@v1
  #     with:
  #       name: website
  #   - name: Azure Login
  #     uses: azure/login@v1
  #     with:
  #       creds: ${{ secrets.AZURE_CREDENTIALS }}     
  #   - name: Azure CLI script
  #     uses: azure/CLI@v1
  #     with:
  #       azcliversion: 2.0.72
  #       inlineScript: |
  #         az storage blob upload-batch --account-name cloudwithchrisstaging -d '$web' -s website
  #   - name: Azure CLI script
  #     uses: azure/CLI@v1
  #     with:
  #       azcliversion: 2.0.72
  #       inlineScript: |
  #         az cdn endpoint purge --content-paths  "/*" --profile-name "cloudwithchris" --name "cloudwithchris-staging" --resource-group "cloudwithchris"
  publish-gcp:    
    runs-on: ubuntu-latest
    needs: build
    steps:    
    - name: Download website changes
      uses: actions/download-artifact@v1
      with:
        name: website
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@master
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true
    - name: Use gcloud CLI
      run: gsutil cp -r website/** gs://gcp.cloudwithchris.com
   
    # - id: upload-files
    #   uses: google-github-actions/upload-cloud-storage@main
    #   with:
    #     path: website
    #     destination: gcp.cloudwithchris.com
